/*
==============================================
floating
==============================================
*/

.floating{
  animation-name: floating;
  -webkit-animation-name: floating;	

  animation-duration: 1.4s;	
  -webkit-animation-duration: 1.4s;

  animation-timing-function: ease-in-out;	
  -webkit-animation-timing-function: ease-in-out;	

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

  visibility: visible !important;	
}

@keyframes floating {
  0% {
      transform: translateY(0%);	
  }
  50% {
      transform: translateY(20%);	
  }	
  100% {
      transform: translateY(0%);
  }			
}

@-webkit-keyframes floating {
  0% {
      -webkit-transform: translateY(0%);	
  }
  50% {
      -webkit-transform: translateY(20%);	
  }	
  100% {
      -webkit-transform: translateY(0%);
  }			
}