html {
  font-size: 112.5%;
}

body {
  color: $text-black;
  font-family: $title-font;
  font-size: 16px;
  line-height: $golden;
  width: 100%;
  -webkit-font-smoothing: antialiased!important;
}

body.ie {
  overflow: auto;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img,
object {
  height: auto;
  width: 100%;
}

figure {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.no-float {
  float: none !important;
}

%flexbox {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}